button{
    border-radius: 20px;
    padding: 10px;
    padding-left: 35px;
    padding-right: 35px;
    margin-bottom: 5px;
    position: center;
    border-style: none;
    color: white;
    text-decoration: double;
}
button:hover{
    color:#273f71;
    text-decoration: underline;
}
.btn1{
    background-image: linear-gradient(0deg,rgb(204, 74, 98),rgb(233, 233, 233));
}
.btn2{
    background-image: linear-gradient(90deg,lightgreen,yellow,lightgreen);
}
.btn3{
    background-image: linear-gradient(to bottom right,gold,lightgreen);
}
.btn4{
    background-image: linear-gradient(90deg,skyblue,rgb(64, 64, 146),skyblue);
}
